<!-- Sample Data taken from external sources -->

<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

        <!-- First Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
          <div class="w3-quarter">
            <img src="../assets/sandwich.jpg" alt="Sandwich" style="width:100%">
            <h3>The Perfect Sandwich, A Real NYC Classic</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
          <div class="w3-quarter">
            <img src="assets/steaks.jpg" alt="Steak" style="width:100%">
            <h3>Let Me Tell You About This Steak</h3>
            <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
          <div class="w3-quarter">
            <img src="assets/cherries.jpg" alt="Cherries" style="width:100%">
            <h3>Cherries, interrupted</h3>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            <p>What else?</p>
          </div>
          <div class="w3-quarter">
            <img src="assets/wine.jpg" alt="Pasta and Wine" style="width:100%">
            <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
        </div>
        
        <!-- Second Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center">
            <div class="w3-quarter">
                <img src="assets/croissant.jpg" alt="Croissant" style="width:100%">
                <h3>Le French</h3>
                <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
              </div>
          <div class="w3-quarter">
            <img src="assets/salmon.jpg" alt="Salmon" style="width:100%">
            <h3>Salmon For Your Skin</h3>
            <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
          <div class="w3-quarter">
            <img src="assets/sandwich.jpg" alt="Sandwich" style="width:100%">
            <h3>The Perfect Sandwich, A Real Classic</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
          <div class="w3-quarter">
            <img src="assets/croissant.jpg" alt="Croissant" style="width:100%">
            <h3>Le French</h3>
            <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </div>
        </div>


        <div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>