
<nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" routerLink = 'home' routeLinkAction = 'active'>Food Blog</a>
        <ul class="nav nav-pills">
                <li><a class="nav-link" routerLink = 'dashboard' routeLinkAction = 'active'>Dashboard</a></li>

                <li><a class="nav-link" routerLink = 'about' routeLinkAction = 'active' *ngIf="role == 'null'" >About</a></li>
            <li><a class="nav-link" routerLink = 'contact' routeLinkAction = 'active' *ngIf="role == 'null'" >Contact</a></li>
            <li><a class="nav-link" routerLink = 'login' routeLinkAction = 'active' *ngIf="role == 'null'">Login</a></li>
           <!--  <li><a class="nav-link" routerLink = 'contact' routeLinkAction = 'active' *ngIf="role == 'admin'">Add Items</a></li>
            <li><a class="nav-link" routerLink = 'logout' routeLinkAction = 'active' *ngIf="role == 'admin' || role =='user'">Logout</a></li>

 -->
        </ul>
    </nav>

<router-outlet></router-outlet>