<nav class="navbar navbar-expand navbar-light bg-light" style="    float: right;
">
        <ul class="nav nav-pills">
      
           <!--  <li><a class="nav-link" routerLink = 'add' routeLinkAction = 'active' *ngIf="role == 'admin'" >Add Items</a></li>
            <li><a class="nav-link" routerLink = 'notification' routeLinkAction = 'active' *ngIf="role == 'admin' || role =='user'">Notifications</a></li>
            --> <li><a class="nav-link" (click)="addItem1()"  *ngIf="role == 'admin'" style="color:#007bff">Add Items</a></li>
           <!--  <li><a class="nav-link"  (click)="showNotifications()" *ngIf="role == 'admin' || role =='user'" style="color:#007bff">Notifications</a></li> -->
                
           
            <li><a class="nav-link" routerLink = 'logout' routeLinkAction = 'active' *ngIf="role == 'admin' || role =='user'">Logout</a></li>


        </ul>
    </nav>

  
<!--     <div class="card" *ngIf="addItems == true">
            <img src="" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>Jane Doe</b></h4> 
              <p>Interior Designer</p> 
            </div>
            <button type="submit">Add Item</button>
          </div> -->
          <div class="container" style="margin-top: 100px;">
               
                <div class="col-md-12">
                        <div class="row">  
                        <div class="col-md-6" *ngFor="let p of restData; let i=index;">
          <div class="card" *ngIf="showItem">
                <img src="{{p.img}}" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>{{p.name}}</b></h4> 
                  <h5>Posted By:{{p.addedBy}}</h5> 

                  <p>{{p.description}}</p> 
                  <h6>{{p.time}}</h6> 
                </div>
                <div class="col-md-12">
                    <div class="row"> 
                    <div class="col-md-0">
                    <button type="submit" class="btn btn-primary"  *ngIf="role == 'admin'">Edit Item</button>
                    </div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success"  *ngIf="role == 'admin' || role =='user'">Comments</button>
                    </div>
                </div>
                </div>
              </div>
              </div>
        
           
              </div>
              </div>
              </div>

              <div class="container" *ngIf="addItems">
                 
                  <form #form="ngForm" (ngSubmit)="addItem(form.value)" > 
                      <fieldset ngModelGroup="data">
                  <label>Name:</label>
                  <input type="text" name="name" [(ngModel)]="name" #Name="ngModel" required>
                 
                  <br><br>
                  <label>Description:</label>
                  <textarea name="description" [(ngModel)]="description" #Description="ngModel" required></textarea>
              
                  <br><br>
                  <label>Image Url:</label>
                  <input type="text" name="img" [(ngModel)]="img" #Img="ngModel" required>
                       

                  </fieldset>
                  <button type="submit" [disabled]="!form.form.valid">Submit</button>
                  
                  </form>
                </div>